// Colors
$theme:  #1eedd7;
$accent: #056dba;
$other:  #476c87;

$interactive-bg:    #ba0905;
$interactive-color: white;
$interacted:  #ef735a;

$a11y-skip: #4593ff;

// Motion
$timing: 0.3s;
$easing: cubic-bezier(0.38, 0.62, 1, 0.62);